/*
$unvisited: white;
$visited: #788bff;
$path: #fec601;
$wall: #616163;
$start: #44ffd2;
$end: #ea7317;
*/

$unvisited: transparent;
$visited: #118ab2;
$path: #ffd166;
$wall: #616163;
$start: #06d6a0;
$end: #ef476f;

table {
  border-collapse: collapse;
}
.node {
  border: 1px solid #2c4251;
  height: 1.5em;
  width: 1.5em;

  &.visited {
    background-color: $visited;
  }
  &.path {
    background-color: $path;
  }

  &.wall {
    background-color: $wall;
  }
  &.start {
    background-color: $start;
  }

  &.end {
    background-color: $end;
  }

  &:hover {
    opacity: 0.75;
  }
}
.path-choices {
  width: 100%;
  display: flex;
}
.path-choice {
  cursor: pointer;
  padding: 10px;
  position: relative;
  width: 100%;
  text-align: center;
  background-color: #f1faee;

  &.selected {
    background-color: $start;
  }
}
