/*
$unvisited: white;
$visited: #788bff;
$path: #fec601;
$wall: #616163;
$start: #44ffd2;
$end: #ea7317;
*/
body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-align: center;
}

.visualize {
  margin-top: 10px;
  margin-bottom: 10px;
}

$unvisited: transparent;
$visited: #118ab2;
$path: #ffd166;
$wall: #616163;
$start: #06d6a0;
$end: #ef476f;

table {
  border-collapse: collapse;
  margin: auto;
}
.node {
  border: 1px solid #2c4251;
  height: 1.5em;
  width: 1.5em;

  &.visited {
    background-color: $visited;
  }
  &.path {
    background-color: $path;
  }

  &.wall {
    background-color: $wall;
  }
  &.start {
    background-color: $start;
  }

  &.end {
    background-color: $end;
  }

  &:hover {
    opacity: 0.75;
  }
}
.algo-select {
  display: flex;
  width: 100%;
  font-weight: bold;
  background-color: #f1faee;
}
.select-title,
.algo-choice {
  text-align: center;
  border-radius: 10px;
  padding: 10px;
}

.select-title {
  color: #e0eff5;
  width: 300px;
  pointer-events: none;
  background-color: #1b9aaa;
}

.algo-choices {
  width: 100%;
  display: flex;
}
.algo-choice {
  color: #073b4c;
  cursor: pointer;
  position: relative;
  width: 100%;
  margin-left: 10px;

  &.selected {
    background-color: $start;
  }
}
